<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="dmXDP9RmMEOg5ulofbr8wfj37KzyHITzRH9xTO-UYME" />
    <title><%= yield_content(:title) %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "https://code.jquery.com/jquery-3.2.1.min.js" %>
    <%= javascript_include_tag "//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js" %>
    <%= javascript_include_tag "site" %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Varela+Round&amp;subset=latin-ext" rel="stylesheet">
    <%= favicon_tag "favicon.ico" %>
  </head>
  <body class="<%= I18n.locale %>">
    <%= partial "shared/header" %>
    <%= yield %>
    <%= partial "shared/footer" %>
  </body>
</html>
