<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= yield_content(:title) %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Varela+Round&amp;subset=latin-ext" rel="stylesheet">
  </head>
  <body class="<%= I18n.locale %>">
    <%= yield %>
    <%= partial "shared/footer" %>
  </body>
</html>
