<% content_for :title, t("index.title") %>

<section class="index-intro">
  <hgroup>
    <h2 class="index-intro-slogan"><%= t("index.intro.slogan") %></h2>
    <h1 class="index-intro-title">
      <%= image_tag "index-intro-logo.svg", alt: t("app.name"), class: "index-intro-logo" %>
    </h1>
  </hgroup>
  <div class="index-intro-actions">
    <%= link_to t("index.intro.register"), data.config.register_url, class: "button big yellow" %>

    <div class="index-intro-secondary-actions">
      <%= partial "shared/store_links" %>
    </div>

  </div>
  <div class="index-intro-elbow"></div>
</section>

<section class="index-about" id="about">
  <h2 class="header-1 index-about-header"><%= t("index.about.header") %></h2>
  <ol class="index-about-wrapper">
    <li class="index-about-step step-1">
      <div class="index-about-text">
        <div class="index-about-number">1</div>
        <br class="index-about-number-break" />
        <%= t("index.about.step1") %>
      </div>
      <div class="index-about-image image-1">
        <div class="index-about-image-bg"></div>
      </div>
      <div class="index-about-image image-2">
        <div class="index-about-image-bg"></div>
      </div>
      <div class="index-about-path">
        <div class="index-about-image-bg"></div>
      </div>
    </li>
    <li>
      <ul>
        <li class="index-about-step step-2-a">
          <div class="index-about-text">
            <div class="index-about-number">
              2<span class="index-about-subnumber">a</span>
            </div>
            <br class="index-about-number-break" />
            <%= t("index.about.step2a") %>
          </div>
          <div class="index-about-image">
            <div class="index-about-image-bg"></div>
          </div>
          <div class="index-about-path">
            <div class="index-about-image-bg"></div>
          </div>
        </li>
        <li class="index-about-step step-2-b">
          <div class="index-about-text">
            <div class="index-about-number">
              2<span class="index-about-subnumber">b</span>
            </div>
            <br class="index-about-number-break" />
            <%= t("index.about.step2b") %>
          </div>
          <div class="index-about-image">
            <div class="index-about-image-bg"></div>
          </div>
          <div class="index-about-path">
            <div class="index-about-image-bg"></div>
          </div>
        </li>
      </ul>
    </li>
    <li class="index-about-step step-3">
      <div class="index-about-text">
        <div class="index-about-number">3</div>
        <br class="index-about-number-break" />
        <%= t("index.about.step3") %>
      </div>
      <div class="index-about-image">
        <div class="index-about-image-bg"></div>
      </div>
      <div class="index-about-path path-1">
        <div class="index-about-image-bg"></div>
      </div>
      <div class="index-about-path path-2">
        <div class="index-about-image-bg"></div>
      </div>
    </li>
    <li class="index-about-step step-4">
      <div class="index-about-text">
        <div class="index-about-number">4</div>
        <br class="index-about-number-break" />
        <%= t("index.about.step4") %>
      </div>
      <div class="index-about-image">
        <div class="index-about-image-bg"></div>
      </div>
      <div class="index-about-path">
        <div class="index-about-image-bg"></div>
      </div>
    </li>
  </ol>
</section>


<section class="index-platforms">
  <div class="index-platforms-text">
    <h2 class="header-1"><%= t("index.platforms.header")%></h2>
    <p>
      <%= t("index.platforms.description") %>
    </p>
  </div>
  <div class="index-platforms-image-wrapper">
    <div class="index-platforms-image">
      <%= image_tag_at_2x "index-platforms-devices.png" %>
    </div>
  </div>
</section>


<section class="index-open-source" id="for-developers">
  <h2 class="header-1"><%= t("index.open_source.header") %></h2>
  <div class="index-open-source-text">
    <p class="text-1">
      <%= t("index.open_source.paragraph1", noordwind: link_to("Noordwind", "https://noordwind.com/", target: "_blank", class: "link")) %>
    </p>
    <p class="text-1">
      <%= t("index.open_source.paragraph2") %>
    </p>
  </div>
  <div class="index-open-source-actions">
    <a href="https://github.com/noordwind" class="button" target="_blank">
      <i class="github icon"></i>
      <%= t("index.open_source.github") %>
    </a><a href="http://docs.collectively.apiary.io/" class="button" target="_blank">
      <i class="api icon"></i>
      <%= t("index.open_source.api") %>
    </a><a href="https://travis-ci.org/noordwind/" class="button" target="_blank">
      <i class="travis icon"></i>
      <%= t("index.open_source.travis") %>
    </a>
  </div>
</section>


<section class="index-contact" id="contact">
  <div class="index-contact-wrapper">
    <div class="index-contact-header">
      <h2 class="header-1"><%= t("index.contact.header") %></h2>
    </div>
    <div class="index-contact-columns">
      <div class="index-contact-left-column">
        <form action="/" method="POST">
          <label class="input">
            <i class="person icon"></i>
            <input type="text" name="message[name]" placeholder="<%= t("index.contact.placeholders.name") %>" />
            <i class="person-blue icon"></i>
          </label>
          <label class="input with-errors">
            <i class="envelope icon"></i>
            <input type="email" name="message[email]" placeholder="<%= t("index.contact.placeholders.email") %>" />
            <i class="envelope-blue icon"></i>
            <div class="errors">
              cannot be blank
            </div>
          </label>
          <label class="input">
            <i class="bubble icon"></i>
            <textarea name="message[message]" placeholder="<%= t("index.contact.placeholders.message") %>"></textarea>
            <i class="bubble-blue icon"></i>
          </label>
          <div class="form-actions">
            <button type="submit" class="button">
              <i class="plane icon"></i>
              <%= t("index.contact.submit") %>
            </button>
          </div>
        </form>
      </div>
      <div class="index-contact-right-column">
        <a href="https://noordwind.com/" target="_blank" class="index-contact-logo">
          <%= image_tag_at_2x "noordwind-logo.png", alt: t("index.contact.noordwind") %>
        </a>
        <div class="clear"></div>
        <p class="index-contact-section"><%= t("index.contact.address.germany") %></p>
        <p class="index-contact-section"><%= t("index.contact.address.poland") %></p>
        <div class="index-contact-section">
          <%= mail_to t("index.contact.email"), t("index.contact.email"), class: "link" %>
          <div class="index-contact-social">
            <a href="https://www.facebook.com/becollectively/" target="_blank"
              title="<%= t("index.contact.facebook")%>" class="index-contact-social-link">
              <i class="facebook icon"></i>
            </a>
            <a href="https://www.linkedin.com/company-beta/10834059/" target="_blank"
              title="<%= t("index.contact.linked_in")%>" class="index-contact-social-link">
              <i class="linked-in icon"></i>
            </a>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</section>


<section class="index-last-chance">
  <h2 class="header-1"><%= t("index.last_chance.header")%></h2>
  <div class="index-last-chance-description">
    <p class="text-1"><%= t("index.last_chance.description")%></p>
  </div>
  <div class="index-last-chance-actions">
    <%= link_to t("index.last_chance.register"), data.config.register_url, class: "button big" %>
    <div class="index-last-chance-store-links">
      <%= partial "shared/store_links" %>
    </div>
  </div>
</section>
