<% content_for :title, t("index.title") %>

<section class="index-intro">
  <hgroup>
    <h2 class="index-intro-slogan"><%= t("index.intro.slogan") %></h2>
    <h1 class="index-intro-title">
      <%= image_tag "index-intro-logo.svg", alt: t("app.name"), class: "index-intro-logo" %>
    </h1>
  </hgroup>
  <div class="index-intro-actions">
    <%= link_to t("index.intro.register"), data.config.register_url, class: "button big yellow" %>

    <div class="index-intro-secondary-actions">
      <%- link_to data.config.google_play_url, class: "store-button" do %>
        <%= image_tag("google-play-#{I18n.locale}.svg", alt: t("index.intro.google_play")) %>
      <%- end %><div class="store-button">
        <%= image_tag("app-store-soon-#{I18n.locale}.svg", alt: t("index.intro.app_store")) %>
      </div>
    </div>

  </div>
  <div class="index-intro-elbow"></div>
</section>

<section class="index-about">
  <h2 class="header-1"><%= t("index.about.header") %></h2>
  <ol class="index-about-wrapper">
    <li class="index-about-step step-1">
      <div class="index-about-text">
        <div class="index-about-number">1</div>
        <br class="index-about-number-break" />
        <%= t("index.about.step1") %>
      </div>
      <div class="index-about-image image-1">
        <div class="index-about-image-bg"></div>
      </div>
      <div class="index-about-image image-2">
        <div class="index-about-image-bg"></div>
      </div>
      <div class="index-about-path">
        <div class="index-about-image-bg"></div>
      </div>
    </li>
    <li>
      <ul>
        <li class="index-about-step step-2-a">
          <div class="index-about-text">
            <div class="index-about-number">
              2<span class="index-about-subnumber">a</span>
            </div>
            <br class="index-about-number-break" />
            <%= t("index.about.step2a") %>
          </div>
          <div class="index-about-image">
            <div class="index-about-image-bg"></div>
          </div>
          <div class="index-about-path">
            <div class="index-about-image-bg"></div>
          </div>
        </li>
        <li class="index-about-step step-2-b">
          <div class="index-about-text">
            <div class="index-about-number">
              2<span class="index-about-subnumber">b</span>
            </div>
            <br class="index-about-number-break" />
            <%= t("index.about.step2b") %>
          </div>
          <div class="index-about-image">
            <div class="index-about-image-bg"></div>
          </div>
          <div class="index-about-path">
            <div class="index-about-image-bg"></div>
          </div>
        </li>
      </ul>
    </li>
    <li class="index-about-step step-3">
      <div class="index-about-text">
        <div class="index-about-number">3</div>
        <br class="index-about-number-break" />
        <%= t("index.about.step3") %>
      </div>
      <div class="index-about-image">
        <div class="index-about-image-bg"></div>
      </div>
      <div class="index-about-path path-1">
        <div class="index-about-image-bg"></div>
      </div>
      <div class="index-about-path path-2">
        <div class="index-about-image-bg"></div>
      </div>
    </li>
    <li class="index-about-step step-4">
      <div class="index-about-text">
        <div class="index-about-number">4</div>
        <br class="index-about-number-break" />
        <%= t("index.about.step4") %>
      </div>
      <div class="index-about-image">
        <div class="index-about-image-bg"></div>
      </div>
      <div class="index-about-path">
        <div class="index-about-image-bg"></div>
      </div>
    </li>
  </ol>
</section>


<section class="index-platforms">
  <div class="index-platforms-text">
    <h2 class="header-1"><%= t("index.platforms.header")%></h2>
    <p>
      <%= t("index.platforms.description") %>
    </p>
  </div>
  <div class="index-platforms-image-wrapper">
    <div class="index-platforms-image">
      <%= image_tag "index-platforms-devices.png" %>
    </div>
  </div>
</section>
